*{
    margin: 0;
    padding: 0;
}

html{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
}

body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    margin: auto;
    width: 40rem;
    height:40rem;
    border : .5rem solid black;
    border-radius: 50%;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px gray;
    
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: antiquewhite;
}

.hand{
    width: 50%;
    height: .8rem;
    background-color: black;
    border-radius:20px 0px  0px 20px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .5s;
    /* transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); */
    /* transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
    /* transition-timing-function: cubic-bezier(1, 0, 0, 1); */
    transition-timing-function: cubic-bezier(1, 2.7, 0.58, 1);
}

.second-hand{
    height: 0.2rem;
    
}

.min-hand{
    height: 0.4rem;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.hour-hand{
  height: 0.8rem;
  border-radius:0px 40px   0px 40px;
}
.btnSound{
    position: absolute;
    bottom: 0;
    margin-left:  48%;
    margin-bottom: 10px;
    padding:10px 20px;
    box-sizing: border-box;
    background-color: #acacac;
    transition: all 0.3s;
    border: none;
    border-radius: 5px;
}

.btnClicked{

    background-color: bisque;
}
table{
    margin-left: 5rem;
}
table,tr,td,th{
    border: 3px solid black;
}

td{
    height: 2rem;
    padding: 1.5rem;
}


.alarm{
    padding: .5rem;
    width: 5rem;
}

.btnAlarm{
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    transition: all .4s;
}

.alarmClicked{
    background-color: blueviolet;
}

.alarm-area{
    background-color: antiquewhite;
    width: 30rem;
    height: fit-content;
    margin-top: 1.5rem;
    padding: 20px;
    margin-left: 5rem;
}

.point{
    position: absolute;
    top: 23%;
    left: 46%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
   margin-top: 100px;
    
}

.twelve{
    position: absolute;
    height: 4rem;
    width: 1rem;
    top:0%;
    left: 50%;
  
}

span{
    color: gray;
    text-align: center;
    position: absolute;
    font-size: 6rem;
}

.twelve span{  
    transform:translate(-3rem,-1rem);
    
}

.three{
    position: absolute;
    height: 1rem;
    width: 4rem;
    top:50%;
    left:90%;
    
}

.three span{
 
    transform:translate(-1.5rem,-3rem);
   
}

.six{
    position: absolute;
    height: 4rem;
    width: 1rem;
    top:90%;
    left: 50%;
  
}

.six span{
    transform:translate(-1.5rem,-2rem);
}

.nine{
    position: absolute;
    height: 1rem;
    width: 4rem;
    top:50%;
    left:0%;
    

}

.nine span{

    transform:translate(-1.5rem,-3rem);

}